.about section + section {
  padding-top: 1em;
}
.back-link {
  color: #fff;
  text-decoration: none;
  color: color-branded;
  display: inline-block;
  text-align: center;
  line-height: 36px;
}
.back-link--large {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
.back-link__arrow {
  color: #ffc900;
  margin-right: 0.5em;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3f4151;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: filter 0.3s cubic-bezier(0, 0.175, 0.175, 1), -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
.showMenu .bg {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}
.canvas {
  padding: 24px;
}
.hero {
  margin: -24px;
  margin-bottom: 24px;
}
.catalogue-item--content {
  overflow: hidden;
}
.catalogue-item--nav {
  padding: 48px;
}
.catalogue__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalogue__link a {
  color: #fff;
}
.catalogue__header {
  font-size: 10px;
  font-weight: 300 !important;
  text-transform: uppercase;
}
.catalogue .catalogue__link + .catalogue__header {
  padding-top: 24px;
}
.contactItem {
  margin-bottom: 20px;
}
.contactItem--primary {
  border-bottom: 1px solid #ffc900;
}
.contactItem__header {
  font-weight: bold;
}
.contactItem__email a,
.contactItem__site a,
.contactItem__scheme a {
  color: #ffc900;
  text-decoration: none;
}
.contactItem__phone a {
  color: #fff;
  text-decoration: none;
}
.contactItem__data {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}
.content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 72px;
  overflow-y: auto;
  z-index: 3;
  -webkit-transition: -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: filter 0.3s cubic-bezier(0, 0.175, 0.175, 1), -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
.showMenu .content {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: 2;
}
.fluid-image {
  max-width: 100%;
}
.highlight {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: -2px;
}
.highlight span {
  background-color: #ffc900;
  color: #3f4151;
  padding: 8px 0px;
  -webkit-box-shadow: 8px 0 0 #ffc900, -8px 0 0 #ffc900;
  box-shadow: 8px 0 0 #ffc900, -8px 0 0 #ffc900;
}
.job {
  font-size: 14px;
  line-height: 1.3em;
/*
  &__stories
    height 320px
  */
}
@media screen and (max-width: 460px) {
  .job {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .job {
    font-size: 10px;
  }
}
.job__story {
  background-color: rgba(173,175,175,0.78);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  height: 280px;
}
.job__story position relative img {
  max-width: 100%;
}
.job__story_body {
  position: absolute;
  bottom: 16px;
  left: 50%;
  right: 16px;
}
.job__story_block {
  max-height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job__hero {
  position: relative;
}
.job__hero img {
  width: 100%;
}
.job__hero_label {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
}
.job__team {
  background: url("/img/team.jpg") no-repeat center;
  background-size: cover;
  padding: 16px;
  padding-top: 156px;
}
.job__values {
  padding: 16px;
}
.job__values_header {
  text-align: center;
}
.job__value {
  position: relative;
  padding-left: 68px;
  margin-bottom: 16px;
}
.job__value_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.job__value_icon img {
  max-width: 100%;
}
.job__motivation {
  max-width: 600px;
  margin: auto;
  padding: 16px 0;
}
.job__motivation h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}
.job__card {
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 1px;
}
.job__card_button {
  background-color: rgba(0,0,0,0.3);
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 12px;
  padding: 0;
  line-height: 32px;
  letter-spacing: 0.1em;
  margin: 0;
  outline: none;
  text-transform: uppercase;
  width: 100%;
}
.job__card--open .job__card_button.job__card_button {
  background-color: #ffc900;
  color: #3f4151;
}
.job__card_content {
  display: none;
}
.job__card_content img {
  width: 100%;
}
.job__card--open .job__card_content.job__card_content {
  display: block;
}
.job__card_body {
  padding: 16px;
  padding-bottom: 32px;
}
.job__vacancies {
  padding: 16px;
}
.job__vacancies_content {
  padding-top: 24px;
}
.job__vacancies_footer {
  background-color: rgba(0,0,0,0.3);
  margin: 0 -16px;
  padding: 8px 16px;
}
.job__vacancies_footer a {
  color: #ffc900;
  text-decoration: none;
}
.job__vacancy_content {
  display: none;
}
.job__vacancy_content a {
  color: #ffc900;
  text-decoration: none;
}
.job__vacancy:hover .job__vacancy_content {
  display: block;
}
.job__vacancy h4 {
  text-decoration: underline;
}
.job__vacancy ul {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style-type: none;
}
.main {
  padding: 32px 24px;
  font-size: 18px;
  line-height: 30px;
}
.nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(24,25,31,0.4);
}
.showMenu .nav {
  background-color: rgba(24,25,31,0.8);
}
.nav .logo {
  color: #fff;
  position: fixed;
  left: 24px;
  bottom: 24px;
  -webkit-transition: bottom 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: bottom 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
@media (orientation: portrait) {
  .showMenu .nav .logo {
    bottom: 50%;
    height: 25%;
  }
}
.nav .logo svg {
  width: 107px;
  height: 25px;
  fill: currentColor;
}
.nav .hamburger {
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: 0;
  border-radius: 50%;
  position: fixed;
  right: 16px;
  bottom: 16px;
  outline: none;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0, 0.175, 0.175, 1), -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
.showMenu .nav .hamburger {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nav .hamburger svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.nav hr {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.nav .menu {
  position: fixed;
  top: 50%;
  left: 0px;
  right: 56px;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  padding-left: 24px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0, 0.175, 0.175, 1), -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
@media (orientation: landscape) {
  .nav .menu {
    top: 24px;
    left: calc(50% - 24px);
    bottom: 56px;
    right: 24px;
    -webkit-transform: translate(0, 150%);
    -ms-transform: translate(0, 150%);
    transform: translate(0, 150%);
  }
}
.showMenu .nav .menu {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.nav .menu__items--offset {
  margin-left: 12px;
}
.nav .menu__item {
  color: #fff;
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 32px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav .menu__item--active {
  font-weight: bold;
}
.nav .menu__item--active:before {
  position: absolute;
  top: 14px;
  left: -13px;
  background-color: #ffc900;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  -webkit-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
.nav .menu__item--back:before {
  position: absolute;
  top: 14px;
  left: -13px;
  content: "";
  display: block;
  height: 4px;
  width: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #fff;
  border-right: 0;
  border-top: 0;
}
.news section {
  padding-top: 2em;
}
.news__link {
  margin-bottom: 1em;
}
.news__link a {
  color: #fff;
  text-decoration: none;
}
.news__pub_date {
  color: #ffc900;
  font-size: 12px;
}
.newsItem__pub_date {
  font-size: 12px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.newsItem__content a {
  color: #ffc900;
}
.newsItem h1 {
  font-weight: 500;
  font-size: 24px;
}
.pages {
  text-align: center;
}
.pages a {
  text-decoration: none;
  display: inline-block;
  padding: 0 8px;
}
.pages__link {
  color: #fff;
}
.pages__link--current {
  color: #ffc900;
  font-weight: bold;
}
.pages__arrow {
  color: #ffc900;
}
.pages__arrow--disabled {
  color: #fff;
  pointer-events: none;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.slider .owl-controls {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}
.slider .owl-controls .owl-page span {
  background-color: #fff !important;
  width: 6px !important;
  height: 6px !important;
}
.tabs {
  display: block;
  margin: auto;
  text-align: center;
}
.tab {
  border: 1px solid #ffc900;
  color: #ffc900;
  display: inline-block;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  text-transform: uppercase;
}
.tab--active {
  background-color: #ffc900;
  color: #3f4151;
}
body {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background-color: #3f4151;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  body {
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  }
}
.about section + section {
  padding-top: 1em;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3f4151;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: filter 0.3s cubic-bezier(0, 0.175, 0.175, 1), -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
.showMenu .bg {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}
.canvas {
  padding: 24px;
}
.hero {
  margin: -24px;
  margin-bottom: 24px;
}
.back-link {
  color: #fff;
  text-decoration: none;
  color: color-branded;
  display: inline-block;
  text-align: center;
  line-height: 36px;
}
.back-link--large {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
.back-link__arrow {
  color: #ffc900;
  margin-right: 0.5em;
}
.catalogue__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalogue__link a {
  color: #fff;
}
.catalogue__header {
  font-size: 10px;
  font-weight: 300 !important;
  text-transform: uppercase;
}
.catalogue .catalogue__link + .catalogue__header {
  padding-top: 24px;
}
.catalogue-item--content {
  overflow: hidden;
}
.catalogue-item--nav {
  padding: 48px;
}
.contactItem {
  margin-bottom: 20px;
}
.contactItem--primary {
  border-bottom: 1px solid #ffc900;
}
.contactItem__header {
  font-weight: bold;
}
.contactItem__email a,
.contactItem__site a,
.contactItem__scheme a {
  color: #ffc900;
  text-decoration: none;
}
.contactItem__phone a {
  color: #fff;
  text-decoration: none;
}
.contactItem__data {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}
.content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 72px;
  overflow-y: auto;
  z-index: 3;
  -webkit-transition: -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: filter 0.3s cubic-bezier(0, 0.175, 0.175, 1), -webkit-filter 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
.showMenu .content {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: 2;
}
.fluid-image {
  max-width: 100%;
}
.highlight {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: -2px;
}
.highlight span {
  background-color: #ffc900;
  color: #3f4151;
  padding: 8px 0px;
  -webkit-box-shadow: 8px 0 0 #ffc900, -8px 0 0 #ffc900;
  box-shadow: 8px 0 0 #ffc900, -8px 0 0 #ffc900;
}
.job {
  font-size: 14px;
  line-height: 1.3em;
/*
  &__stories
    height 320px
  */
}
@media screen and (max-width: 460px) {
  .job {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .job {
    font-size: 10px;
  }
}
.job__story {
  background-color: rgba(173,175,175,0.78);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  height: 280px;
}
.job__story position relative img {
  max-width: 100%;
}
.job__story_body {
  position: absolute;
  bottom: 16px;
  left: 50%;
  right: 16px;
}
.job__story_block {
  max-height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job__hero {
  position: relative;
}
.job__hero img {
  width: 100%;
}
.job__hero_label {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
}
.job__team {
  background: url("/img/team.jpg") no-repeat center;
  background-size: cover;
  padding: 16px;
  padding-top: 156px;
}
.job__values {
  padding: 16px;
}
.job__values_header {
  text-align: center;
}
.job__value {
  position: relative;
  padding-left: 68px;
  margin-bottom: 16px;
}
.job__value_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.job__value_icon img {
  max-width: 100%;
}
.job__motivation {
  max-width: 600px;
  margin: auto;
  padding: 16px 0;
}
.job__motivation h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}
.job__card {
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 1px;
}
.job__card_button {
  background-color: rgba(0,0,0,0.3);
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 12px;
  padding: 0;
  line-height: 32px;
  letter-spacing: 0.1em;
  margin: 0;
  outline: none;
  text-transform: uppercase;
  width: 100%;
}
.job__card--open .job__card_button.job__card_button {
  background-color: #ffc900;
  color: #3f4151;
}
.job__card_content {
  display: none;
}
.job__card_content img {
  width: 100%;
}
.job__card--open .job__card_content.job__card_content {
  display: block;
}
.job__card_body {
  padding: 16px;
  padding-bottom: 32px;
}
.job__vacancies {
  padding: 16px;
}
.job__vacancies_content {
  padding-top: 24px;
}
.job__vacancies_footer {
  background-color: rgba(0,0,0,0.3);
  margin: 0 -16px;
  padding: 8px 16px;
}
.job__vacancies_footer a {
  color: #ffc900;
  text-decoration: none;
}
.job__vacancy_content {
  display: none;
}
.job__vacancy_content a {
  color: #ffc900;
  text-decoration: none;
}
.job__vacancy:hover .job__vacancy_content {
  display: block;
}
.job__vacancy h4 {
  text-decoration: underline;
}
.job__vacancy ul {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style-type: none;
}
.main {
  padding: 32px 24px;
  font-size: 18px;
  line-height: 30px;
}
.nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(24,25,31,0.4);
}
.showMenu .nav {
  background-color: rgba(24,25,31,0.8);
}
.nav .logo {
  color: #fff;
  position: fixed;
  left: 24px;
  bottom: 24px;
  -webkit-transition: bottom 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: bottom 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
@media (orientation: portrait) {
  .showMenu .nav .logo {
    bottom: 50%;
    height: 25%;
  }
}
.nav .logo svg {
  width: 107px;
  height: 25px;
  fill: currentColor;
}
.nav .hamburger {
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: 0;
  border-radius: 50%;
  position: fixed;
  right: 16px;
  bottom: 16px;
  outline: none;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0, 0.175, 0.175, 1), -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
.showMenu .nav .hamburger {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nav .hamburger svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.nav hr {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.nav .menu {
  position: fixed;
  top: 50%;
  left: 0px;
  right: 56px;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  padding-left: 24px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0, 0.175, 0.175, 1), -webkit-transform 0.3s cubic-bezier(0, 0.175, 0.175, 1);
}
@media (orientation: landscape) {
  .nav .menu {
    top: 24px;
    left: calc(50% - 24px);
    bottom: 56px;
    right: 24px;
    -webkit-transform: translate(0, 150%);
    -ms-transform: translate(0, 150%);
    transform: translate(0, 150%);
  }
}
.showMenu .nav .menu {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.nav .menu__items--offset {
  margin-left: 12px;
}
.nav .menu__item {
  color: #fff;
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 32px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav .menu__item--active {
  font-weight: bold;
}
.nav .menu__item--active:before {
  position: absolute;
  top: 14px;
  left: -13px;
  background-color: #ffc900;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  -webkit-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
.nav .menu__item--back:before {
  position: absolute;
  top: 14px;
  left: -13px;
  content: "";
  display: block;
  height: 4px;
  width: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #fff;
  border-right: 0;
  border-top: 0;
}
.news section {
  padding-top: 2em;
}
.news__link {
  margin-bottom: 1em;
}
.news__link a {
  color: #fff;
  text-decoration: none;
}
.news__pub_date {
  color: #ffc900;
  font-size: 12px;
}
.newsItem__pub_date {
  font-size: 12px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.newsItem__content a {
  color: #ffc900;
}
.newsItem h1 {
  font-weight: 500;
  font-size: 24px;
}
.pages {
  text-align: center;
}
.pages a {
  text-decoration: none;
  display: inline-block;
  padding: 0 8px;
}
.pages__link {
  color: #fff;
}
.pages__link--current {
  color: #ffc900;
  font-weight: bold;
}
.pages__arrow {
  color: #ffc900;
}
.pages__arrow--disabled {
  color: #fff;
  pointer-events: none;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.slider .owl-controls {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}
.slider .owl-controls .owl-page span {
  background-color: #fff !important;
  width: 6px !important;
  height: 6px !important;
}
.tabs {
  display: block;
  margin: auto;
  text-align: center;
}
.tab {
  border: 1px solid #ffc900;
  color: #ffc900;
  display: inline-block;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  text-transform: uppercase;
}
.tab--active {
  background-color: #ffc900;
  color: #3f4151;
}
