.back-link
  color color-white
  text-decoration none
  color color-branded
  // border-radius: 50%
  // width 36px
  // height 36px
  display inline-block
  text-align center
  line-height 36px

  &--large
    transform: scale(2);

  &__arrow
    color color-yellow
    margin-right .5em
