.catalogue
  &__links
    margin 0
    padding 0
    list-style-type none

  &__link
    // margin-bottom 8px
    a
      color color-white

  &__header
    font-size 10px
    font-weight 300 !important
    text-transform uppercase

  .catalogue__link + .catalogue__header
    padding-top 24px
