include ../canvas/canvas

mixin link(label)
  li.catalogue__link
    a(href="/catalogue-item.html")= label

mixin header(label)
  li.catalogue__header
    h2= label

mixin catalogue
  +canvas('Каталог')
    .catalogue
      ul.catalogue__links
        +header('Кузова-контейнеры')
        +link('Постоянного объема')
        +link('Переменного объема')

        +header('Кузова-фургоны')
        +link('Стандартные')
        +link('На прицепах')
        +link('На полуприцепах')
        +link('Переменного объема на полуприцепах')

        +header('Прочее')
        +link('Ремонтно-эвакуационные машины')
        +link('Дизельные электроагрегаты и электростанции')
