include ../highlight/highlight
include ../canvas/canvas

mixin about()
  +canvas
    .about
      section
        h2 КОРПОРАЦИЯ «ПРОЕКТ-ТЕХНИКА»
        p Корпорация «Проект-техника» — один из глобальных лидеров по разработке и производству решений в области мобильной инфраструктуры специального назначения.
        p Основными активами Корпорации являются Инженерный центр, заводы по производству мобильной техники (Шумерлинский завод специализированных автомобилей, Орелтекмаш), Центр сервисных решений, завод по производству электротехники (Проектэлектротехника).
        p Коллектив Корпорации — 2500 сотрудников, работающих в 7 городах европейской части России.

      section
        h2 ПРОДУКЦИЯ КОРПОРАЦИИ
        p Сложность продукции варьируется от контейнеров, поставляемых для дальнейшей комплектации, до полнофункциональных мобильных сервисных центров, полевых лагерей, полевых медицинских и штабных комплексов со всей необходимой инфраструктурой (жизнеобеспечение, энергетика, связь).
        p Продукция представлена в 21 стране мира как самостоятельные изделия и комплексы, либо в составе комплексов противовоздушной обороны и радиоэлектронной борьбы. Также она включена в список изделий государственной программы вооружения РФ до 2020 года.
        p По отдельным видам инициативно разработанных изделий Корпорация является единственным поставщиком Министерства Обороны РФ.

      section
        h2 СТАНДАРТЫ КАЧЕСТВА ПРОИЗВОДСТВА
        p «Проект-техника» использует мировые инновации и новейшие технологии в конструировании и производстве. Корпорация имеет лицензии на разработку и производство вооружения и военной техники, свидетельство о государственной аккредитации научных организаций, патенты РФ.
        p Система качества предприятий «Проект-техники» сертифицирована на соответствие требованиям международных и российских стандартов качества, а также российской системы разработки и постановки на производство военной техники.

      section
        h2 КОМАНДА
        +highlight НА ПРЕДПРИЯТИЯХ КОРПОРАЦИИ«ПРОЕКТ-ТЕХНИКА» РАБОТАЮТБОЛЕЕ 2 000 СПЕЦИАЛИСТОВПО ВСЕЙ СТРАНЕ
        p Мы сплоченная команда единомышленников, которая уверенно идет к поставленным целям. Каждый член нашей команды – ее неотъемлемое звено, которое лично ответственно за достижение стратегической цели Корпорации, разделяет ее ценности и приоритеты.

      section
        h2 МИССИЯ
        +highlight САМОРЕАЛИЗАЦИЯ И СОЗИДАНИЕ —ЭТО ЦЕЛЬ НАШЕЙ РАБОТЫ
        +highlight НЕСТАНДАРТНЫЕ РЕШЕНИЯИ КАЧЕСТВЕННАЯ ПРОДУКЦИЯ —ЭТО РЕЗУЛЬТАТ НАШЕЙ РАБОТЫ
        +highlight МЫ ТРУДИМСЯ НА БЛАГО ОБЩЕСТВАИ СОДЕЙСТВУЕМ РАЗВИТИЮПРОГРЕССА
