extends layout-blocks/layout
include main/main
include nav/nav
include about/about


block bg
  +bg('bg-about.jpg')

block content
  +about

block nav
  +nav('main', 'О нас')
    +backLink('Главная', '/')
