extends layout-blocks/layout
include main/main
include nav/nav
include catalogue/catalogue


block bg
  +bg('bg-catalogue.jpg')

block content
  +catalogue

block nav
  +nav('main', 'Каталог')
    +backLink('Главная', '/')
