@require "nib"

@require "../stylus/colors"
@require "../stylus/constants"
@require "../stylus/mixins"

@import "../pug/**/*"

body
  color color-white
  font-family 'Ubuntu', sans-serif
  font-size 14px
  line-height 24px
  padding 0
  margin 0
  background-color color-corporate

  text-rendering: optimizeLegibility !important
  -webkit-font-smoothing: antialiased !important

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    font-weight 300
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
