include ../canvas/canvas

mixin contacts
  +canvas
    .contacts
      +contactItem(
        'Отдел продаж',
        {
          phone: '+7 (495) 775-62-90',
          email: 'sales@pr-t.ru',
        },
        true
      )
      +contactItem(
        'Корпорация «Проект-техника»',
        {
          address: '125362, г. Москва, ул. Свободы, д. 35, стр. 22',
          phone: '+7 (495) 775-62-90',
          email: 'sales@pr-t.ru',
          scheme: 'http://www.pr-t.ru/images/content/img-directions.jpg',
        }
      )
      +contactItem(
        'Шумерлинский завод специализированных автомобилей',
        {
          address: '429122 , Чувашская Республика, г. Шумерля, ул. Щербакова, д. 60',
          phone: '+7 (83536) 6-70-01',
          fax: '+7 (83536) 6-72-00',
          email: 'shzsa@pr-t.ru',
        }
      )
      +contactItem(
        'Орелтекмаш',
        {
          address: '302006, г. Орёл, ул. Московская, д. 155',
          phone: '+7 (4862) 55-11-72',
          fax: '+7 (4862) 55-10-54',
          email: 'otm@pr-t.ru',
        }
      )
      +contactItem(
        'Инженерный центр',
        {
          address: '125362, г. Москва, ул. Свободы, д. 35, стр. 14',
          phone: '+7 (495) 775-62-90',
          email: 'info@pr-t.ru',
        }
      )
      +contactItem(
        'Проектэлектротехника',
        {
          address: [
              '429122, Чувашская Республика, г. Шумерля, ул. Щербакова, д. 60',
              '428018, Чувашская Республика, г. Чебоксары, пр-т К. Иванова, д. 79/16',
            ],
          phone: ['+7 (83536) 6-72-45', '+7 (8352) 58-08-93', '+7 (8352) 58-08-99', '+7 (8352) 58-08-95'],
          email: 'transformer@pr-t.ru',
          site: 'transformer.pr-t.ru',
        }
      )
      +contactItem(
        'Центр сервисных решений',
        {
          address: '125362, г. Москва, ул. Свободы, д. 35, стр. 22',
          phone: '+7 (495) 775-62-90',
          email: 'info@pr-t.ru',
        }
      )
      +contactItem(
        'Интегрированные решения',
        {
          address: '141071, Россия, Московская область, г. Королёв, мкр. Юбилейный, ул. Лесная, д. 14',
          phone: '+7 (495) 775-62-90',
          email: 'info@pr-t.ru',
        }
      )


mixin contactItem(header, data, primary)
  section.contactItem(class=primary && `contactItem--primary`)
    .contactItem__header= header
    ul.contactItem__data
      if data.address
        li.contactItem__address
          +contactField(data.address)
      if data.phone
        li.contactItem__phone
          +phoneField(data.phone)
      if data.fax
        li.contactItem__fax= data.fax
      if data.email
        li.contactItem__email
          a(href=`mailto:${data.email}`)= data.email
      if data.site
        li.contactItem__site
          a(href=data.site, target="_blank")= data.site
      if data.scheme
        li.contactItem__scheme
          a(href=data.scheme, target="_blank") Схема проезда

mixin contactField(values)
  if Array.isArray(values)
    each item in values
      .contactItem__field= item
  else
    .contactItem__field= values

mixin phoneField(values)
  if Array.isArray(values)
    each item in values
      .contactItem__field
        a(href=`tel:${item}`)= item
  else
    .contactItem__field
      a(href=`tel:${values}`)= values
