// .contacts

.contactItem
  margin-bottom 20px
  &--primary
    border-bottom 1px solid color-yellow
  &__header
    font-weight bold
  &__email, &__site, &__scheme
    a
      color color-yellow
      text-decoration none
  &__phone
    a
      color color-white
      text-decoration none
  &__data
    margin 0
    padding 0
    list-style-type: none;
    font-size 12px
