mixin pages
  nav.pages
    .pages__links
      a.pages__link.pages__link--current(href="#") 1
      a.pages__link(href="#") 2
      a.pages__link(href="#") 3
      a.pages__link(href="#") 4
    .pages__arrows
      a.pages__arrow.pages__arrow--prev.pages__arrow--disabled(href="#") ❮
      a.pages__arrow.pages__arrow--next(href="#") ❯
