.pages
  text-align center

  a
    text-decoration none
    display inline-block
    padding 0 8px

  &__link
    color color-white


    &--current
      color color-yellow
      font-weight bold

  &__arrow
    color color-yellow

    &--disabled
      color color-white
      pointer-events: none;
      opacity .2
