.nav
  absolute left right bottom top
  z-index 2
  background-color rgba(#18191F, .4)

  .showMenu &
    background-color rgba(#18191F, .8)

  .logo
    color color-white
    fixed left 24px bottom 24px
    transition(bottom)
    .showMenu &
      @media (orientation: portrait)
        bottom 50%
        height 25%
    svg
      width 107px
      height 25px
      fill: currentColor

  .hamburger
    width 40px
    height 40px
    color color-white
    cursor pointer
    background none
    border 0
    border-radius 50%
    fixed right 16px bottom 16px
    outline none
    transition(transform)
    .showMenu &
      transform rotate(90deg)
    svg
      width 20px
      height 20px
      fill: currentColor

  hr
    background none
    border 0
    border-bottom 1px solid rgba(color-white, .2)

  .menu
    fixed top 50% left 0px right 56px bottom
    overflow hidden
    overflow-y auto
    padding-left 24px
    transform translateY(100%)
    transition(transform)
    // outline 1px solid
    @media (orientation: landscape)
      top 24px
      left calc(50% - 24px)
      bottom 56px
      right 24px
      // outline 1px solid
      transform translate(0, 150%)

    .showMenu &
      transform translateY(0)

    &__items
      &--offset
        margin-left 12px

    &__item
      color color-white
      display block
      font-size 14px
      text-decoration none
      text-transform uppercase
      letter-spacing .1em
      line-height 32px
      // overflow hidden
      position relative
      text-overflow ellipsis
      white-space nowrap

      &--active
        font-weight bold
        &:before
          absolute top 14px left -13px
          background-color color-yellow
          content ""
          display block
          height 6px
          width 6px
          transform skewX(-30deg)
      &--back
        &:before
          absolute top 14px left -13px
          content ""
          display block
          height 4px
          width 4px
          transform rotate(45deg)
          border 1px solid color-white
          border-right 0
          border-top 0
