.tabs
  display block
  margin auto
  text-align center

.tab
  border 1px solid color-yellow
  color color-yellow
  display inline-block
  font-weight bold
  padding 0 8px
  text-decoration none
  text-transform uppercase

  &--active
    background-color color-yellow
    color color-corporate
