.bg
  absolute top left right bottom
  background-color color-corporate
  background-size cover
  background-repeat no-repeat
  background-position center
  transition(filter)

  .showMenu &
    gaussian-blur()
