.highlight
  font-weight 600
  font-size 14px
  text-transform uppercase
  letter-spacing 1px
  margin-left -2px

  span
    background-color color-yellow
    color color-corporate
    padding 8px 0px
    box-shadow 8px 0 0 color-yellow, -8px 0 0 color-yellow
