include ../canvas/canvas
include ../tabs/tabs
include ../pages/pages
include ../fluid-image/fluid-image
include ../back-link/back-link

mixin news
  +canvas
    .news
      +tabs
        +tab('#', true)
          | Новости
        +tab('#')
          | СМИ о нас
      section
        +newsLink Здравствуй, школа!
        +newsLink «Проект-техника» представит последние разработки на форуме «Армия-2016»
        +newsLink Преодолеть себя на «Тропе мужества» / Официальный сайт Постоянного комитета Союзного государства

      +pages

mixin newsLink
  div.news__link
    a(href="/news-item.html")
        block
    .news__pub_date 31.08.2016

mixin newsItem
  +canvas
    .newsItem
      +hero
        +fluid-image('/img/news-item.jpg')
      .newsItem__content
        h1 Здравствуй, школа!
        .newsItem__pub_date 31.08.2016
        p В преддверии 1-го сентября в Корпорации "Проект-техника" второй год подряд прошли Дни первоклашек. В этом году для 120 детей сотрудников Корпорации были организованы праздничные программы.
        p На Орелтекмаше для ребят был подготовлен цикл экскурсий по музею, скверу памяти Текмашевцев, погибших во время Великой Отечественной войны. Детям показали современное производство и рассказали о том, как в настоящий момент на предприятии создаются машины военного назначения. На Шумерлинском заводе специализированных автомобилей ребята посмотрели процессы производства военной техники и даже посидели в машинах. Первоклашкам были показаны РЭМ-КЛ, БТ-3230, МТО-УБ, от которых они пришли в полный восторг. Не остались дети и без подарков — все они получили корпоративные рюкзаки с полным комплектом принадлежностей для школы.
        p Надеемся, что учеба в школе принесет нашим детям радость новых открытий, только хорошие оценки, подарит много верных и преданных друзей.

      +back-link('/news.html')
