.news
  section
    padding-top 2em

  &__link
    margin-bottom 1em
    a
      color color-white
      text-decoration none

  &__pub_date
    color color-yellow
    font-size 12px

.newsItem
  &__pub_date
    font-size 12px
    opacity .6

  &__content
    a
      color color-yellow
      
  h1
    font-weight 500
    font-size 24px
