include ../back-link/back-link

mixin catalogue-item
  .catalogue-item
    .catalogue-item--nav
      +back-link('/catalogue.html', large=true)
      
    .catalogue-item--content
      p Здесь содержимое основной колонки соотв продукта: http://www.pr-t.ru/catalog/bazovye-izdeliya/kuzova-furgony-na-pritsepakh/

    .catalogue-item--nav
      +back-link('/catalogue.html', large=true)
