include ../nav/nav
include ../content/content
include ../bg/bg

html(lang="en-us")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title= name
  block viewport
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
  meta(name="description", content= description)

  link(rel="stylesheet", href=`css/${name}.css`)
  link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&amp;subset=latin,cyrillic-ext")

  script(
    src='https://code.jquery.com/jquery-3.1.0.slim.min.js'
    integrity='sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8='
    crossorigin='anonymous'
  )


  link(rel='stylesheet', href='assets/owl-carousel/owl.carousel.css')
  link(rel='stylesheet', href='assets/owl-carousel/owl.theme.css')
  script(
    src='assets/owl-carousel/owl.carousel.js'
  )



body
  block bg
    +bg
  block page
    +content
      block content
    block nav

  script(src=`js/${name}.js`)
