include ../highlight/highlight


mixin card(label, image, labelPlacement)
  section.job__card(class=`job__card--${labelPlacement}`)
    button.job__card_button= label
    .job__card_content
      div
        img(src=image, alt=label)
      .job__card_body
        block
