.job
  font-size 14px
  line-height 1.3em
  @media screen and (max-width: 460px)
    font-size 12px
  @media screen and (max-width: 380px)
    font-size 10px
  /*
  &__stories
    height 320px
  */

  &__story
    background-color rgba(173, 175, 175, .78)
    background-repeat no-repeat
    background-position left bottom
    background-size contain
    height 280px
    position relative
      img
        max-width 100%
    &_body
      position absolute
      bottom 16px
      left 50%
      right 16px

    &_block
      max-height 160px
      overflow hidden
      text-overflow: ellipsis;

  &__hero
    position relative
    img
      width 100%
    &_label
      absolute bottom 8px left right
      text-align center


  &__team
    background url('/img/team.jpg') no-repeat center
    background-size cover
    padding 16px
    padding-top 156px

  &__values
    padding 16px
    &_header
      text-align center
  &__value
    position relative
    padding-left 68px
    margin-bottom 16px
    &_icon
      absolute top left
      width 60px
      height 60px
      img
        max-width 100%

  &__motivation
    h4
      letter-spacing .1em
      text-transform uppercase
      text-align center
    max-width 600px
    margin auto
    padding 16px 0

  &__card
    background-color rgba(#000, .3)
    margin-bottom 1px
    &_button
      background-color rgba(#000, .3)
      border 0
      color color-white
      cursor pointer
      display block
      font-weight bold
      font-size 12px
      padding 0
      line-height 32px
      letter-spacing .1em
      margin 0
      outline none
      text-transform uppercase
      width 100%

      .job__card--open &&
        background-color color-yellow
        color color-corporate

    &_content
      display none

      img
        width 100%

      .job__card--open &&
        display block

    &_body
      padding 16px
      padding-bottom 32px


  &__vacancies
    padding 16px
    &_content
      padding-top 24px
    &_footer
      background-color rgba(#000, .3)
      margin 0 -16px
      padding 8px 16px

      a
        color color-yellow
        text-decoration none

  &__vacancy
    &_content
      display none
      a
        color color-yellow
        text-decoration none
    &:hover
      .job__vacancy_content
        display block
    h4
      text-decoration underline
    ul
      margin 0
      margin-bottom 24px
      padding 0
      list-style-type: none;
