include ../slider/slider
include ./story
include ./values
include ./motivation
include ./vacancies

mixin job
  .job
    .job__stories
      +slider
        +story(
          'Дунюшкин Виталий, начальник цеха внутризаводского транспорта, ШЗСА',
          'http://www.pr-t.ru/images/content/img-jobs-1.png'
        ) Я проходил практику на заводе в 1987 году, будучи учащимся ГПТУ №6 г. Шумерли. После службы в армии поступил на ШЗСА электромонтером. За 26 лет всякое бывало — в годы кризиса были и задержки зарплаты, и сокращение смен, — но коллектив всегда был в приоритете. Сейчас ШЗСА процветает, работы — хоть отбавляй!
        +story(
          'Борисенко Екатерина, начальник административного отдела, Орелтекмаш',
          'http://www.pr-t.ru/images/content/img-jobs-9.png'
        ) Здесь есть возможность проявить себя. За последние три года на заводе многое изменилось к лучшему — люди готовы к переменам.

    .job__hero
      img(src="http://www.pr-t.ru/images/content/img-visual-20.jpg", alt="")
      .job__hero_label
        div Кого мы ищем?
        div &darr;
    .job__team Мы работаем с высокой степенью интенсивности и эффективности и принимаем ответственность за результат на себя. В каждом, независимо от того, какую должность он занимает, мы ценим внутренние качества, способности и профессиональные навыки. И ищем тех, кто близок нам по духу!
    +values
    +motivation
    +vacancies
