include ./card

mixin motivation
  .job__motivation
    +card('Первый день в корпорации', '/img/img-visual-23.jpg', 'br')
      p Чтобы работа в Корпорации началась легко и продуктивно, мы регулярно проводим ознакомительные встречи для новичков. На таких встречах менеджеры по персоналу и функциональные руководители рассказывают о Корпорации, ее структуре, работе подразделений и планах развития.
      p Во время встречи мы отвечаем на волнующие вас вопросы: как здесь работают? к кому обращаться? что делать, если...? когда ближайшее корпоративное мероприятие?
      p Вся наша внутренняя кухня отражается на корпоративном портале, с помощью которого сотрудники общаются между собой, узнают последние новости, участвуют в акциях и конкурсах.
    +card('Раскрываем потенциал', '/img/img-visual-24.jpg', 'bl')
      h3 КАДРОВЫЙ РЕЗЕРВ
      p Мы реализуем программу «Кадровый резерв» для развития и продвижения перспективных сотрудников. Каждый из участников резерва проходит внутрикорпоративное обучение по индивидуальному плану развития для последующей горизонтальной или вертикальной ротации. По итогам 2015-го года, в кадровый резерв включено более 100 человек.
      h3 КОРПОРАТИВНОЕ ОБУЧЕНИЕ
      p Обучение проходит в различных форматах – от выездных управленческих сессий по методологии Адизес до образовательных вебинаров по программе «Компас 3D». На заводах организованы Учебные центры, где работники посещают занятия по токарному делу, машиностроительному черчению и материаловедению, охране труда и основным правилам по технике безопасности, основам трудового законодательства.
      h3 РАБОТА В ПРОЕКТАХ
      p Мы максимально раскрываем потенциал и компетенции сотрудников, поэтому для достижения целей Корпорации находим ресурсы внутри. Любого сотрудника могут привлечь к участию в проектах развития Корпорации. Также любой сотрудник может сам инициировать подобный проект и выступить в роли его руководителя.
    +card('Условия работы', '/img/img-job-no8.jpg', 'tr')
      p Официальное трудоустройство по ТК РФ, белая зарплата, оплата отпускных и больничных.
      p Годовое премирование.
      p Возможности для карьерного роста, профессионального и творческого развития.
      p Чистые цеха, современное оборудование. Есть комнаты отдыха и приема пищи. Выдается спецодежда.
      p Комплимент от заводов:
      ul
        li ШЗСА — обеспечение питания, абонементы в спортзал и бассейн, свой медицинский центр на территории завода;
        li Орелтекмаш — обеспечение питания, собственный тренажерный зал.

  .job__motivation
    h4 Больше, чем просто работа
    +card('Отдых', '/img/img-job-no2.jpg', 'tr')
      ul
        li Конкурсы и акции
        li Корпоративные праздники
        li Деловые мероприятия
    +card('Взаимопомощь', '/img/img-job-no1.jpg', 'tl')
      ul
        li Корпоративное волонтерство
        li Спонсорская поддержка городских мероприятий
    +card('Память', '/img/img-job-no3.jpg', 'tr')
      ul
        li Советы ветеранов
        li Празднование Дня победы
        li Заводские музеи
    +card('Семья', '/img/img-job-no4.jpg', 'br')
      ul
        li Детские ёлки
        li Ознакомительные экскурсии для детей
        li Поощрение первоклашек и выпускников
        li Спортивные семейные соревнования
    +card('Творчество', '/img/img-job-no7.jpg', 'tl')
      ul
        li Совет молодежи «Ритм»
        li Конкурс профессионального мастерства
        li Собственные творческие коллективы
    +card('Спорт', '/img/img-job-no6.jpg', 'bl')
      ul
        li Корпоративная Спартакиада
        li Арендуемые залы для спортивных тренировок
