include ../highlight/highlight

mixin vacancies
  section.job__vacancies
    +highlight Вакансии
    .job__vacancies_content
      +vacancy('Инженер-конструктор 3-1 категории')
        h4 Обязанности
        ul
          li разработка КД:
          li эскизные и технические проекты;
          li технические расчеты при разработке изделия ;
          li сборочные чертежи деталей и узлов;
      +vacancy('Инженер-конструктор 4-5 категории')
        h4 Обязанности
        ul
          li разработка КД:
          li эскизные и технические проекты;
          li технические расчеты при разработке изделия ;
          li сборочные чертежи деталей и узлов;

      footer.job__vacancies_footer
        p С полным списком актуальных вакансий можно ознакомиться на сайте <a href="http://hh.ru/employer/1028179" target="_blank">hh.ru</a>.
        p Часто мы ищем не человека под место, а место под человека. Если в списке не нашлось подходящей вакансии, но Вы очень хотите работать у нас, отправьте резюме на адрес <a href="mailto:hr@pr-t.ru">hr@pr-t.ru</a>.
        p Ваше резюме будет сохранено в базе потенциальных кандидатов, и мы свяжемся с Вами, когда сможем что-то предложить.

mixin vacancy(title)
  .job__vacancy
    h3= title
    .job__vacancy_content
      block
      p
        a(href="#") Ответить
      br
      br
