mixin values
  .job__values
    h3.job__values_header ЦЕННОСТИ СОТРУДНИКА КОРПОРАЦИИ
    +value('УВЛЕЧЕННОСТЬ', '/img/job-1.png') Я выполняю работу, которая дает мне возможности для самореализации. У меня есть возможности и ресурсы, чтобы внести свой вклад в жизнь Корпорации.
    +value('РЕЗУЛЬТАТИВНОСТЬ', '/img/job-2.png') Я знаю, как важно прийти к результату в срок, качественно и эффективно. И несу личную ответственность за результат своего труда.
    +value('РАЗВИТИЕ', '/img/job-3.png') Я знаю, как можно совершенствовать свои знания и мастерство, чтобы качественно выполнять поставленные задачи. Мне важно соответствовать высоким стандартам профессии и отрасли.
    +value('ПОРЯДОЧНОСТЬ', '/img/job-4.png') Я поступаю честно и уважительно по отношению к себе, коллегам и компании, в которой работаю. От этого зависит моя репутация и репутация Корпорации.
    +value('СОТРУДНИЧЕСТВО', '/img/job-5.png') Я разделяю задачи Корпорации и понимаю, что требуется от меня для их достижения. Я вижу, как моя работа влияет на общий результат.


mixin value(header, icon)
  .job__value
    div.job__value_icon
      img(src=icon, alt=header)
    div
      h4.job__value_header= header
      p
        block
